@import "src/common/styles/scss/variables";
@import "src/common/styles/scss/mixins";

.flightContainer{
  @include displayFlex(column,flex-start,center);
  @include heightWidth(400px,750px);
  background: #61dafb;
  border: 1px solid;

  button {
    @include heightWidth(40px,750px);
    background: orange;
    border: none;
    color: white;
    font-size: 14px;
  }
}