@import 'src/common/styles/scss/mixins';
@import 'src/common/styles/scss/variables';

.endpointsContainer {
  @include displayFlex(row, space-around, center);
  font-size: 18px;
  @include heightWidth(40px, 750px);
  border-bottom: 1px solid $colorGrey;


  .pointDeparture {
    @include displayFlex();

    div:nth-child(3) {
      margin-left: 5px;
      color: $colorBlue;
    }
  }

  .arrivalPoint {
    @include displayFlex();

    div:nth-child(3) {
      margin-left: 5px;
      color: $colorBlue;
    }
  }
}