@import 'src/common/styles/scss/mixins';
@import 'src/common/styles/scss/variables';

.flightDurationContainer {
  @include displayFlex(row, space-around);
  @include heightWidth(40px, 750px);
  font-size: 16px;
  font-weight: 600;

  .departureTime {
    @include displayFlex();

    p:nth-child(2) {
      color: $colorBlue;
      margin-left: 5px;
    }
  }

  .flightTime {

  }

  .arrivalTime {
    @include displayFlex();

    p:nth-child(1) {
      color: $colorBlue;
      margin-right: 5px;
    }
  }
}