@import "src/common/styles/scss/mixins.scss";

.appBlock {
  @include displayFlex(row, space-between);
  background: blanchedalmond;

  .filtrationContainer {
    background: coral;
  }

  .flightContainer {
    @include displayFlex(column);
    @include heightWidth(auto,600px);
    background: #61dafb;
  }
}